/*
Project Name: Time Sheet and Employee List Name (HW28) 
Author: Cassidy Bridgham
Date Last Modified: 5/9/19
*/
table{ width: 200px;
		margin: auto;}
caption {font-size: 2em;
		font-weight: bold;}
thead {background-color: #eaeaea;}
tbody {font-family: Arial, sans-serif;
		font-size: .90em;}
tbody td {border-bottom: 1px #000033 dashed;
			padding-left: 25px;}
tfoot {background-color: #eaeaea;
		font-weight: bold;
		text-align: center;}
table.table2{width:400px;}
table.table2 thead{background-color: #c0c0c0;}
table.table2 tfoot{background-color: #c0c0c0;}
table.table2 tr:nth-of-type(even){background-color: #00ffff;}
